
.icon-modern-satellite:before { content: '\e800'; } /* '' */
.icon-mountain:before { content: '\e801'; } /* '' */
.icon-snowed-mountains:before { content: '\e802'; } /* '' */
.icon-mountain-flag:before { content: '\e803'; } /* '' */
.icon-training-1:before { content: '\e804'; } /* '' */
.icon-runer-silhouette-running-fast:before { content: '\e805'; } /* '' */
.icon-gps-route:before { content: '\e806'; } /* '' */
.icon-route:before { content: '\e807'; } /* '' */
.icon-route-light:before { content: '\e808'; } /* '' */
.icon-bluetooth:before { content: '\e809'; } /* '' */
.icon-bluetooth-signal-indicator:before { content: '\e80a'; } /* '' */
.icon-radio-control:before { content: '\e80b'; } /* '' */
.icon-telephone:before { content: '\e80c'; } /* '' */
.icon-training:before { content: '\e80e'; } /* '' */
.icon-running:before { content: '\e80f'; } /* '' */
.icon-pedestrian-walking:before { content: '\e810'; } /* '' */
.icon-measuring-tape:before { content: '\e811'; } /* '' */
.icon-barometer-bold:before { content: '\e812'; } /* '' */
.icon-miscellaneous:before { content: '\e813'; } /* '' */
.icon-barometer:before { content: '\e814'; } /* '' */
.icon-barometer-:before { content: '\e815'; } /* '' */
.icon-heart-science-technology:before { content: '\e817'; } /* '' */
.icon-thermometer-weather:before { content: '\e818'; } /* '' */
.icon-heart_monitor:before { content: '\e819'; } /* '' */
.icon-pages:before { content: '\e81a'; } /* '' */
.icon-notes:before { content: '\e81b'; } /* '' */
.icon-celsius:before { content: '\e81c'; } /* '' */
.icon-monitoring-heart-rate:before { content: '\e81d'; } /* '' */
.icon-thermometer:before { content: '\e81e'; } /* '' */
.icon-satellite:before { content: '\e81f'; } /* '' */
.icon-mountaine-light:before { content: '\e820'; } /* '' */
.icon-mountains:before { content: '\e821'; } /* '' */