@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.content
		.h1
			font-size: 100px
			line-height: 100px
			span
				font-size: 52px
	.top-line .menu li
		padding-left: 30px

	.testimonials-block
		.testimonal
			.testimonal-item
				.icon-wrap
				.testimonal-content
					// font-size: 18px
					max-width: 70%
	.section-team
		.team-wrapper
			.team-item
				.team-img-wrapper
					.team-img
						height: 350px
	
	.partners-block
		.partners-wrapper
			grid-template-columns: repeat(6, 1fr)
			grid-gap: 10px
			.partner
				width: 110px
				height: 110px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	#header-search
		display: block
	.site-header
		.menu
			display: none
	.hamburger
		display: inline
	.content
		.h1
			font-size: 80px
			line-height: 80px
			padding-bottom: 45px
			span
				font-size: 42px
	.hash-navigation
		height: 60px
	.hash-item
		a
			padding-top: 10px
			font-size: 15px
	.about-wrapper
		grid-template-columns: 1fr 1fr 1fr
		.about-item
			height: 200px
			.item-inner
				height: 200px

	.div-blue
		.blue-item-wrapper
			.blue-item
				font-size: 15px
				padding: 50px 0
				span
					font-size: 50px
					line-height: 50px
					margin-bottom: 20px

	.section-doing
		.doing-items-wrapper
			grid-template-columns: 1fr

	.testimonials-block
		.testimonal
			.testimonal-item
				.icon-wrap
					width: 100px
					height: 100px
					font-size: 50px
				.testimonal-content
					font-size: 18px
					max-width: 70%

	.section-team
		.team-wrapper
			.team-item
				.team-img-wrapper
					.team-img
						height: 300px
						.team-social
							a
								width: 40px
								height: 40px
								i
									font-size: 20px
									line-height: 40px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.about-wrapper
		grid-template-columns: 1fr
		.about-item
			height: 250px
			.item-inner
				height: 250px
	.hash-item
		a
			font-size: 15px
			padding: 0
			span
				display: none
	.content
		.h1
			font-size: 50px
			line-height: 50px
			padding-bottom: 45px
			span
				font-size: 42px
	.about-wrapper
		grid-tamplate-column: 1fr
		// min-height: 600px
	.about-item:nth-child(3)
		grid-column: initial
		width: auto
		margin: 0
	.div-blue
		.blue-item-wrapper
			.blue-item
				font-size: 14px
				padding: 40px 0
				font-weight: bold
				span
					font-size: 40px
					line-height: 40px
					margin-bottom: 10px
	.section-services
		hr
			display: none
		.services-item-wrapper
			grid-template-columns: 1fr
			margin: 0 50px

	.section-design
		.img-wrapper
			padding: 0 100px
			.tablet
			.mobile-phone
				width: 35%
				bottom: -70px

	.testimonials-block
		.testimonal
			.owl-nav
				.owl-next
					top: 40%
				.owl-prev
					top: 40%
			.testimonal-item
				padding: 0 0
				.icon-wrap
					float: none
					display: block
					margin: auto
					margin-bottom: 30px
				.testimonal-content
					float: none
					width: 100%
					margin: auto
					display: block
					text-align: center

	.section-team
		.team-wrapper
			grid-template-columns:  1fr
			.team-item
				.team-img-wrapper
					.team-img
						height: 450px
						background-position: top
						.team-social
							a
								width: 50px
								height: 50px
								i
									font-size: 25px
									line-height: 50px

	.partners-block
		.partners-wrapper
			grid-template-columns: repeat(3, 1fr)
			grid-gap: 10px
			.partner
				width: 120px
				height: 120px
				margin-bottom: 30px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.hash-item
		a
			font-size: 12px
	.section-services
		.services-item-wrapper
			margin: 0 0px
	.section-design
		.img-wrapper
			margin-top: 50px 
			padding: 0 50px
			.tablet
			.mobile-phone
				width: 40%
				bottom: -50px
	.div-blue
		.blue-item-wrapper
			.blue-item
				font-size: 10px
				padding: 20px 2px
				font-weight: bold
				span
					font-size: 25px
					line-height: 25px
					margin-bottom: 10px

	.testimonials-block
		.testimonal
			.testimonal-item
				padding: 0 0
				.testimonal-content
					font-size: 15px

	.partners-block
		.partners-wrapper
			grid-template-columns: repeat(3, 1fr)
			grid-gap: 5px
			.partner
				width: 90px
				height: 90px
				margin-bottom: 30px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

@media (min-width : 1200px) and (max-height: 780px)
	.content
		.h1
			font-size: 100px
			line-height: 100px
			span
				font-size: 52px

@media (max-width : 768px) and (max-height: 450px)
	.content
		.h1
			font-size: 50px
			line-height: 50px
			padding-bottom: 10px
			span
				font-size: 32px
	.main-header-content
		.button
			margin-top: 20px