/*========================================================
	
	Author	: 	Noman Ali Samejo
	
	Item 	: 	San - Responsive App Landing Template
	
----------------------------------------------------------
	List of Contents
----------------------------------------------------------
	
	01. General Styles 
	
	02. Navbar
	
	03. Preloader
	
	04. Home Section
	
	05. Mockup Section
	
	06. Features Section
	
	07. Screenshots Section
	
	08. Video Section
	
	09. More Features Section
	
	10. Pricing Section
	
	11. Testimonials Section
	
	12. Download\Newsletter Section
	
	13. Contact Section
	
	14. Footer
	
	14. Responsive CSS
	
========================================================*/

/*========================================================
	General Styles
========================================================*/
@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i,900,900i';

*{
	font-family:inherit;
}
body{
	font-family:'Lato', sans-serif;
	overflow-x:hidden;
}
.section-header > p,
.font-alt{
	font-family:'Playfair Display', serif;
}
section{
	background:#FFF;
}
.parallax{
	background-color:transparent !important;
}
img{
	max-width:100%;
}
.section-header > h2{
	margin-top:0;
	font-size:28px;
	font-weight:300;
	margin-bottom:15px;
	line-height:1em;
	text-transform:uppercase;
	letter-spacing:2px;
}
.section-header > p{
	margin:0;
	font-size:16px;
	color:#898989;
	font-style:italic;
	letter-spacing:1px;
}
a.app-btn{
	color:#FFF;
}
.app-btn{
	position:relative;
	padding:9px 31px;
	border-radius:50px;
	color:#FFF;
	display:inline-block;
	*display:inline;
	*zoom:1;
	background:transparent;
	text-decoration:none !important;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	top:0;
	border:solid 2px #FFF;
}
.app-btn:hover{
	background:#FFF;
	color:#202020;
}
.app-btn > i{
	font-size:20px;
	vertical-align:middle;
	margin-right:5px;
}
.arrow{
	position:relative;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:35px;
	height:10px;
	left:-15px;
	margin-left:7px;
	transition:all .3s ease;
}
.arrow:before{
	content: ' ';
	position:absolute;
	top:0;
	right:0;
	border-top:solid 5px transparent;
	border-bottom:solid 5px transparent;
	border-left:solid 5px #202020;
}
.arrow:after{
	content: ' ';
	position:absolute;
	top:4px;
	height:2px;
	background:#202020;
	width:15px;
	right:5px;
	transition:all .3s ease;
}
.arrow-btn:hover .arrow{
	left:5px;
}
.arrow-btn:hover .arrow:after{
	width:25px;
}
.btn-custom.arrow-btn{
	padding-right:5px;
	padding-left:25px;
}
.btn-custom.arrow-btn:hover{
	padding-right:25px;
}
a.btn-custom{
	text-decoration:none;
	color:#202020;
}
.btn-custom{
	padding:12px 22px;
	background:#E0E0E0;
	color:#202020;
	border-radius:3px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	position:relative;
	z-index:5;
	border:none;
	transition:all .3s ease;
}

/*========================================================
	Navbar
========================================================*/
.navbar{
	background:transparent;
	padding:30px 0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.navbar-brand{
	padding:0;
}
.navbar-brand > img{
	margin-top:10px;
	height:30px;
}
.navbar-nav > li > a{
	text-decoration:none;
	background:none !important;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:12px;
	color:#FFF;
	color:rgba(255,255,255,.6);
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.navbar-nav > li.active > a,
.navbar-nav > li > a:hover{
	color:#FFF;
}
.navbar-toggle{
	margin-top:5.5px;
	margin-bottom:5.5px;
}
.navbar-toggle .icon-bar{
	background:#202020;
	height:3px;
	width:28px;
}
.navbar-toggle .icon-bar+.icon-bar{
	margin-top:5px;
}
body.scrolled .navbar{
	background:#FFF;
	background:rgba(255,255,255,.9);
	padding:10px 0;
}
.navbar-brand > .logo-dark{
	display:none;
}
body.scrolled .navbar-brand > .logo-dark{
	display:block;
}
body.scrolled .navbar-brand > .logo-light{
	display:none;
}
body.scrolled .navbar-nav > li > a{
	color:#202020;
	color:rgba(0,0,0,.4);
}
body.scrolled .navbar-nav > li.active > a,
body.scrolled .navbar-nav > li > a:hover{
	color:#202020;
}

/*========================================================
	Preloader
========================================================*/
#preloader{
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
	background:#FFF;
	height:100%;
	width:100%;
	-webkit-transition:all .5s .5s ease;
	-moz-transition:all .5s .5s ease;
	transition:all .5s .2s ease;
}
.loader{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	width:100px;
	height:100px;
	display:block;
	margin:auto;
	margin-top:-50px;
}
body.loaded #preloader{
	opacity:0;
	visibility:hidden;
}

/*========================================================
	Home Section
========================================================*/
.main-section{
	background:#5a32c6;
	overflow:hidden;
	position:relative;
	padding:100px 0;
	padding-top:160px;
}
.particle-bg{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:0;
}
.main-section .mockup{
	position:relative;
}
.main-section .mockup > .front{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
.intro-text{
	padding-top:120px;
	padding-bottom:105px;
}
.intro-text > h1{
	font-weight:300;
	color:#FFF;
	line-height:1.2em;
	font-size:56px;
	letter-spacing:2px;
	margin-top:0;
	margin-bottom:25px;
}
.intro-text > p{
	font-size:22px;
	margin:0;
	margin-bottom:50px;
	color:#FFF;
	font-style:italic;
	letter-spacing:2px;
}
.intro-text > .btns{
	margin-top:30px;
	margin-left:-10px;
}
.intro-text .app-btn{
	margin:0 10px;
	margin-bottom:15px;
}

/*========================================================
	Mockup Section
========================================================*/
.mockup-section{
	padding:40px 0;
}
.mockup-text{
	padding-top:170px;
}
.section-2 .mockup-text{
	padding-top:110px;
}
.mockup-text > span{
	font-style:italic;
	font-size:18px;
	color:rgba(0,0,0,.6);
	letter-spacing:1px;
}
.mockup-text > h2{
	margin-top:0;
	margin-bottom:15px;
	font-size:44px;
}
.mockup-text > p{
	margin:0;
	color:rgba(0,0,0,.6);
	line-height:1.7em;
	margin-bottom:35px;
}
.mockup-text > .btn-custom{
	background:#F2F2F2;
}
.mockup-shadow,
.screens-mockup{
	position:relative;
}
.mockup-shadow > .phone,
.screens-mockup > .screen{
	position:absolute;
	top:0;
	left:0;
}
/*========================================================
	Features Section
========================================================*/
.features-section{
	padding:110px 0;
	overflow:hidden;
}
.features-section .section-header{
	margin-bottom:80px;
}
.features-section .mockup{
	text-align:center;
	margin:0 25px;
}
.col-features{
	padding-top:80px;
}
.col-feature{
	position:relative;
	margin-bottom:80px;
}
.col-feature:last-of-type{
	margin-bottom:0;
}
.col-feature > i{
	height:80px;
	width:80px;
	font-size:0;
	line-height:80px;
	vertical-align:middle;
	text-align:center;
	display:inline-block;
	border-radius:50%;
	border:solid 1px #E0E0E0;
	color:#202020;
}
.col-feature > i:before{
	font-size:40px;
	line-height:80px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
}
.col-feature > h4{
	margin:0;
	margin-top:20px;
	letter-spacing:1px;
	text-transform:uppercase;
	font-weight:400;
}
.col-feature > p{
	color:rgba(0,0,0,.6);
	line-height:1.7em;
	margin:0;
	margin-top:10px;
}

/*========================================================
	Screenshots Section
========================================================*/
.screenshots-section{
	padding-bottom:110px;
	padding-top:50px;
	overflow:hidden;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.screenshots-section .section-header{
	margin-bottom:70px;
}
.screenshots-slider{
	padding:0;
	margin:0;
	list-style:none;
	font-size:0;
}
.screenshots-slider li{
	position:relative;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.18);
	-moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.18);
	box-shadow: 0 3px 10px 0 rgba(0,0,0,.18);
}
.screenshots-slider li > figure{
	position:relative;
	overflow:hidden;
	display:block;
}
.screenshots-slider li > figure > img{
	width:100%;
	margin:auto;
}
.screenshots-slider.owl-carousel .owl-stage-outer {
	padding-bottom:10px;
	overflow:visible;
}
.screenshots-slider .overlay{
	position:absolute;
	top:0;
	left:-5px;
	right:-5px;
	bottom:0;
	opacity:0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	background:#FFF;
	background:rgba(255,255,255,.95);
	z-index:99;
}
.screenshots-slider .overlay > .view-btn{
	display:block;
	height:80px;
	width:80px;
	color:#202020;
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:auto;
	margin-top:-40px;
	text-align:center;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	outline:none;
}
.screenshots-slider .overlay > .view-btn:before,
.screenshots-slider .overlay > .view-btn:after{
	content: ' ';
	position:absolute;
	background:#202020;
}
.screenshots-slider .overlay > .view-btn:before{
	width:1px;
	height:100%;
	top:0;
	left:50%;
	margin-left:-0.5px;
}
.screenshots-slider .overlay > .view-btn:after{
	width:100%;
	top:50%;
	left:0;
	margin-top:-0.5px;
	height:1px;
}
.screenshots-slider li:hover .overlay{
	opacity:1;
}
.owl-controls{
	margin-top:50px;
	margin-bottom:-45px;
}
.owl-controls > .owl-dots{
	text-align:center;
}
.owl-controls > .owl-dots > .owl-dot{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:-10px 1px;
	padding:10px 6px;
}
.owl-controls > .owl-dots > .owl-dot:hover > span{
	opacity:.6;
}
.owl-controls > .owl-dots > .owl-dot > span{
	display:block;
	height:15px;
	width:6px;
	margin-top:20px;
	background:#000;
	opacity:.4;
	transition:all .3s ease;
	border-radius:3px;
}
.owl-controls > .owl-dots > .owl-dot.active > span{
	height:35px;
	opacity:1;
	margin-top:0;
}

/*========================================================
	Video Section
========================================================*/
.video-section{
	position:relative;
	overflow:hidden;
}
.video-section .mockup{
	top:40px;
	left:0;
	right:0;
	margin:auto;
	position:absolute;
	text-align:center;
}
.video-section .mockup > img{
	position:relative;
	width:110%;
	margin-left:-5%;
	max-width:none;
}
.watch-video{
	position:relative;
	padding:140px 0;
	z-index:5;
}
.watch-video .play-btn{
	padding:2px;
	border-radius:50%;
	transition:all .3s ease;
	display:inline-block;
	*display:inline;
	*zoom:1;
	position:relative;
	left:-2px;
	z-index:4;
}
.watch-video .play-btn:hover{
	box-shadow: 0 0 0 3px #FFF;
}
.watch-video > h4{
	font-size:42px;
	color:#FFF;
	font-weight:600;
	margin-top:30px;
	margin-bottom:15px;
	font-style:italic;
}
.watch-video > p{
	margin:0;
	line-height:1.7em;
	color:rgba(255,255,255,.8);
}

/*========================================================
	More Features Section
========================================================*/
.features-2-section{
	padding-top:110px;
	padding-bottom:0px;
	position:relative;
}
.features-2-section .section-header{
	margin-bottom:90px;
}
.features-2-section .mockup{
	position:relative;
	bottom:-40px;
}
.features-2-section .mockup > .phone{
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:1;
}
.icon-feature{
	position:relative;
	margin-bottom:80px;
}
.icon-feature > .icon{
	position:absolute;
	top:0;
	left:0;
	font-size:48px;
	color:#202020;
	z-index:5;
}
.icon-feature > .content{
	margin-left:80px;
}
.icon-feature > .content > h4{
	font-size:18px;
	margin-bottom:10px;
	text-transform:uppercase;
	letter-spacing:2px;
}
.icon-feature > .content > p{
	margin:0;
	color:rgba(0,0,0,.6);
	line-height:1.7em;
}

/*========================================================
	Pricing Section
========================================================*/
.pricing-section{
	padding-top:90px;
	padding-bottom:110px;
}
.pricing-section .section-header{
	margin-bottom:80px;
}
.p-table{
	padding:40px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.18);
	background:#FAFAFA;
	border-radius:3px;
	margin:15px 0;
}
.p-table > .header{
	margin:-40px;
	padding:40px;
	padding-bottom:0;
	margin-bottom:0;
	position:relative;
	z-index:5;
}
.p-table > .header:before{
	content: ' ';
	position:absolute;
	bottom:30px;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
}
.p-table > .header > h4{
	font-size:30px;
	font-weight:500;
	margin:0;
}
.p-table .price{
	position:relative;
	margin-top:30px;
}
.p-table .price > span{
	display:inline-block;
	*display:inline;
	*zoom:1;
	position:relative;
}
.p-table .price > .currency{
	font-size:14px;
	line-height:14px;
	vertical-align:top;
	top:10px;
}
.p-table .price > .amount{
	font-size:60px;
	font-weight:300;
	line-height:60px;
}
.p-table .price > .period{
	font-size:14px;
	line-height:14px;
	vertical-align:bottom;
	bottom:7px;
	margin-left:-2px;
	letter-spacing:1px;
	font-weight:300;
}
.p-table > .items{
	position:relative;
	padding:0;
	list-style:none;
	margin:30px 0;
}
.p-table > .items > li{
	padding:8px 0;
	color:#898989;
}
.p-table > .pricing-btn{
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-size:16px;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:1px;
	text-decoration:none;
	color:#202020;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.p-table > .pricing-btn > .arrow{
	margin-left:4px;
	vertical-align:middle;
	top:-2px;
}
.p-table > .pricing-btn:hover{
	color:#5a32c6;
}
.p-table > .pricing-btn:hover > .arrow:before{
	border-left-color:#5a32c6;
}
.p-table > .pricing-btn:hover > .arrow:after{
	background:#5a32c6;
}
.p-table.standard{
	padding:45px 40px;
	margin:0;
	position:relative;
	z-index:5;
}
.p-table.standard > .items{
	margin:35px 0;
}
.p-table.standard > .items > li{
	padding:10px 0;
}

/*========================================================
	Testimonials Section
========================================================*/
.testimonials-section{
	padding:110px 0;
	overflow:hidden;
	background:#FAFAFA;
}
.testimonials-section > .container{
	position:relative;
}
.testimonials-slider{
	width:70%;
	margin:auto;
}
.testimonials-slider > .owl-stage-outer{
	position:static;
}
.testimonials-slider .owl-stage-outer{
	overflow:visible;
}
.testimonial{
	text-align:center;
	transform:scale(.85);
	opacity:.6;
	transition:all .4s ease;
}
.owl-item.active .testimonial{
	transform:scale(1);
	opacity:1;
}
.testimonial > .icon{
	font-size:60px;
}
.testimonial > .content > p{
	margin-top:30px;
	margin-bottom:40px;
	font-size:20px;
	font-weight:300;
	line-height:1.6em;
}
.testimonial > .author{
	position:relative;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.testimonial > .author > .author-img{
	border-radius:50%;
	display:block;
	margin:auto;
	height:90px;
	width:90px;
}
.testimonial > .author > .signature{
	position:absolute;
	top:35px;
	width:auto;
	right:0;
}
.testimonial > .author > h4{
	margin-top:15px;
	margin-bottom:2px;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:2px;
}
.testimonial > .author > span{
	color:#898989;
	font-style:italic;
}

/*========================================================
	Download/Nesletter Section
========================================================*/
.cta-section{
	padding:110px 0;
	text-align:center;
}
.download-app > h2{
	font-size:48px;
	color:#FFF;
	font-weight:400;
	margin:0;
	margin-bottom:50px;
}
.download-btns > a{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:0 15px;
	margin-bottom:15px;
	text-decoration:none;
}
.newsletter{
	padding-top:95px;
}
.newsletter > h4{
	font-size:24px;
	font-weight:300;
	color:#FFF;
	margin:0;
}
.newsletter-form > label{
	color:#FFF;
	color:rgba(255,255,255,.8);
	font-style:italic;
	font-weight:300;
	margin-bottom:0;
	margin-top:15px;
	font-size:16px;
}
.subscribe-input{
	position:relative;
}
.subscribe-input > .txt{
	background:transparent;
	padding:12px 2px;
	border:none;
	border-bottom:solid 2px rgba(255,255,255,.4);
	outline:none !important;
	display:block;
	width:100%;
	color:#FFF;
	color:rgba(255,255,255,.9);
	margin-top:35px;
}
.subscribe-input > .txt::-webkit-input-placeholder{
	color:rgba(255,255,255,.7);
	transition:all .3s ease;
}
.subscribe-input > .txt:focus::-webkit-input-placeholder{
	color:rgba(255,255,255,.4);
}
.subscribe-input > .txt  + span{
	position:absolute;
	width:0%;
	height:2px;
	background:#FFF;
	transition:all .4s ease;
	left:0;
	bottom:0;
}
.subscribe-input > .txt:focus  + span{
	width:100%;
}
.subscribe-input > .subscribe{
	position:absolute;
	bottom:0;
	right:0;
	line-height:46px;
	padding-right:2px;
	padding-left:10px;
	font-size:14px;
	text-transform:uppercase;
	background:transparent;
	color:#FFF;
	border:none;
	font-weight:500;
	outline:none;
}

/*========================================================
	Contact Section
========================================================*/
.contact-section{
	padding:110px 0;
}
.contact-section .section-header{
	margin-bottom:80px;
}
.contact-form .form-group{
	margin-bottom:24px;
}
.form-control{
	padding:12px;
	color:#202020;
	border:solid 1px #D0D0D0;
	height:auto;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
	border-radius:0;
}
.form-control::-webkit-input-placeholder{
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:12px;
}
.form-control:focus{
	border-color:#202020;
}
textarea.form-control{
	resize:vertical;
}
.contact-form .btn-custom{
	padding:15px 27px;
	outline:none !important;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:12px;
	position:relative;
	top:0;
}
.contact-form .btn-custom:hover{
	color:#FFF;
	background:#202020;
}
.contact-form .btn-custom:active{
	top:2px;
	opacity:.8;
}
.alert{
	border:none;
	border-radius:0;
}

/*========================================================
	Footer
========================================================*/
footer{
	padding:20px 0;
	background:#202020;
	overflow:hidden;
}
footer p{
	color:#FFF;
	margin:0;
	font-size:16px;
	font-weight:300;
	letter-spacing:1px;
	margin-top:3px;
	text-transform:uppercase;
}
.footer-social{
	position:relative;
	padding:0;
	font-size:0;
	list-style:none;
	text-align:right;
	margin:-5px;
}
.footer-social > li{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.footer-social a{
	display:block;
	font-size:20px;
	padding:5px;
	color:#FFF;
	color:rgba(255,255,255,.8);
	margin-left:20px;
}
.footer-social a:hover{
	color:#FFF;
}



/*========================================================
	Responsive CSS
========================================================*/
@media (max-width:1200px){
	.features-section .mockup{
		margin:0;
	}
}
@media (max-width:992px){
	.col-features.text-right{
		padding-top:0;
		padding-bottom:80px;
	}
	.col-feature{
		text-align:center;
		max-width:300px;
		margin-left:auto;
		margin-right:auto;
	}
	.features-section .mockup{
		max-width:350px;
		margin:auto;
	}
	.mockup-section .mockup-text{
		padding-top:60px;
	}
	.mockup-section{
		padding:60px 0;
	}
	.pricing-section .p-table{
		margin-bottom:25px;
	}
}
@media (max-width:768px){
	footer{
		padding:20px 0;
	}
	footer p{
		margin-bottom:15px;
		text-align:center;
	}
	.footer-social{
		text-align:center;
	}
	.footer-social a{
		margin:0 10px;
	}
	.navbar-brand{
		padding-left:15px;
	}
	.main-section{
		padding-top:100px;
	}
	.navbar{
		background:#FFF;
		background:rgba(255,255,255,.95);
		padding:10px 0;
	}
	.navbar-brand > .logo-dark{
		display:block;
	}
	.navbar-brand > .logo-light{
		display:none;
	}
	.navbar-nav > li > a{
		color:#202020;
		color:rgba(0,0,0,.4);
	}
	.navbar-nav > li.active > a,
	.navbar-nav > li > a:hover{
		color:#202020;
	}
	.navbar-nav > li > a{
		padding:15px;
	}
	.navbar-collapse{
		margin-top:10px;
		border-top-color:rgba(0,0,0,.07);
	}
}

/********************* time left  begin**********************/
.wallcounter{
  overflow: hidden;
  background: transparent;
  color: white;
  padding: 10px 78px  35px 0px;
  position: relative;
  left: -45px;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  /*height: 100%;*/
  justify-content: space-between;
  align-items: center;
}


 .fields{
  display: flex;
  flex: 1;
  /*margin-right: 10px;*/
  position: relative; /*To position :after psuedo element */
  justify-content: center;
  align-items: center;
} 

.fields:last-of-type{
  margin-right: 0;
}

.fields > div{
  /*flex: 1;*/
  text-align: center;
  /*margin-right: 1px;*/
  margin-right: 0;
  /*background: red;*/
  font-size: 28px;
  /*font: bold 10vw Arial;*/
}

.fields:after{ /* psuedo element */
   left: 70%;
   top: 40%;
  position: absolute;
  content: 'Days';
  z-index: 1000;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #484545;
  /* margin-top: 10px; */
  /*top: 100%;*/
  /*margin-top: 10px;*/
  /*left: 0;*/
  /*text-align: center;*/
}

.fields:nth-of-type(2):after{
  content: 'Hours'
}

.fields:nth-of-type(3):after{
  content: 'Minutes'
}

.fields:nth-of-type(4):after{
  content: 'Secsonds'
}

#tagline1, #tagline2{
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: 1000;
  color: white;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 2vw;
}

#tagline1{
  bottom: auto;
  top: 5px;
  color: gray;
}

#tagline1 a{
  color: gray;
}

#tagline2{
  text-transform: uppercase;
  font-weight: bold;
}


@media screen and (max-width:1200px){

	.wallcounter{
	  padding: 0px;
	  padding-top: 15px;
	}


	.fields:nth-of-type(1):after{
	  content: 'Day'
	}
	  
	.fields:nth-of-type(2):after{
	  content: 'Hr'
	}
	
	.fields:nth-of-type(3):after{
	  content: 'Min'
	}
	
	.fields:nth-of-type(4):after{
	  content: 'Sec'
	}
}

@media screen and (max-width:992px){

	.wallcounter{
	  left: -80px;
	}



 .fields::after {
    left: 62%;
}


 	.fields:nth-of-type(1):after{
	  content: 'Days'
	}
	  
	.fields:nth-of-type(2):after{
	  content: 'Hours'
	}
	
	.fields:nth-of-type(3):after{
	  content: 'Minutes'
	}
	
	.fields:nth-of-type(4):after{
	  content: 'Seconds'
	}

}

@media screen and (max-width:768px){

	.wallcounter{
	  left: -60px;
	}

	.fields:after{
 	left: 80%;
 }

		.fields:nth-of-type(1):after{
	  content: 'Day'
	}
	  
	.fields:nth-of-type(2):after{
	  content: 'Hr'
	}
	
	.fields:nth-of-type(3):after{
	  content: 'Min'
	}
	
	.fields:nth-of-type(4):after{
	  content: 'Sec'
	}

}

@media screen and (min-width:1200px){
/*		.fields:nth-of-type(1):after{
	  content: 'Day'
	}
	  
	.fields:nth-of-type(2):after{
	  content: 'Hr'
	}
	
	.fields:nth-of-type(3):after{
	  content: 'Min'
	}
	
	.fields:nth-of-type(4):after{
	  content: 'Sec'
	}*/
}


@media screen and (max-width:580px){

	.wallcounter{
	  padding: 35px;
	  padding-top: 15px;
	}

	.fields::after {
    left: 70%;
}


	.fields {
	justify-content: center;
}
}


@media screen and (max-width:480px){

	.wallcounter{
		left: 0;
	  padding: 0px;
	  padding-top: 15px;
	}
	.fields:after{
 	left: 80%;
 }

 .fields{
 	left: -5%;
 }


}
/************************ time left enf ***********/


.time-left p {
	  font-size: 22px;
    margin: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-style: italic;
    letter-spacing: 2px;
}

.time-left p span, .intro-text p span{
	color: #ff366b;
}
.intro-text h1 span {
	font-size: 40px;
}


.app-btn > i {
	margin-right: 15px;
}



/*******************************************************  shop item  ******************************************************/

.options {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:0px;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.product-item .main-content {
  padding: 0px 46px 25px 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #222;
  width: 100%;
  height: 100%;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

h1 {
  letter-spacing: 0px;
  letter-spacing: .02rem;
  font-size: 48px;
  font-size: 3rem;
}

h3 {
  color: #666;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: inherit;

}

.description {
  margin-top: 15px;
  width: 100%;
}

.highlight-window {
	margin-top: 25px;
  height: 550px;
  width: 400px;
  background: #ccc;
  background: url('../img/iphone/iphone-rosegold.jpg');
  transition: all .5s ease;
  background-size: cover;
  /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);*/
  z-index: 10;
  position:relative;
  background-position:center top;
}


.color {
  height: 30px;
  cursor:pointer;
  width: 30px;
  background: #eee;
  /*border: 1px solid #D0D0D0;*/
  position:relative;
}

.color.overlay {
  position:absolute;
  z-index:10;
  background:transparent;
  top:-1px;
  left:-1px;
  -webkit-transform:translateX(45px);
      -ms-transform:translateX(45px);
          transform:translateX(45px);
  border:2px solid #fff;
  outline:2px solid #333333;
  -webkit-transition:-webkit-transform .3s ease;
          transition:transform .3s ease;
}
.color-a {
  background: #DEDFE1;
  margin-right:14px;
}

.color-b {
  background: #DDA4AD;
	margin-right:14px;
}

.color-c {
  background: #FFE599;
	margin-right:14px;
}
.color-d {
  background: #929191;
	margin-right:14px;
}

.color-picker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  margin-top:5px;
  position:relative;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
  color:#666;
}
.product-item .button {
  background:#333;
  border:none;
  font-weight:400;
  height:40px;
  margin-top:auto;
  margin-bottom:auto;
  padding-left:25px;
  padding-right:25px;
  box-sizing:border-box;
  color:#fff;
  cursor:pointer;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
}
.product-item .button:hover {
  background:#555;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
}
.divider {
  width:80%;
  height:1px;
  background:#ddd;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}
.color-options {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:50%;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
}
.size-picker {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
}
.small {
  font-size: 11px;
  font-size: 1.2rem;
  color:#999;
  margin-top:10px;
}
.align-right {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}
.size-desc {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}

.purchase-info {
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.price {
  font-size: 40px;
  font-size:2.5rem;
  white-space: nowrap;
}

.product-item .price span {
	text-decoration: line-through;
	margin-right: 20px;
}

.range-picker {
  font-size: 16px;
  font-size:1rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:5px;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  line-height:.9em;
}
.range-picker div {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  border-right:1px solid #bbb;
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  color:#bbb;
  width:30px;
  box-sizing:border-box;
  cursor:pointer;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  height:30px;
  -webkit-transition:background .5s ease;
          transition:background .5s ease;
}
.highlight-window.mobile {
  display:none;
}
.range-picker .active:hover {
  background:#fff;
}
.range-picker .active {
  -webkit-transform:scale(1.2);
      -ms-transform:scale(1.2);
          transform:scale(1.2);
  background:#fff;
  margin-right:3px;
  margin-left:2px;
  color:#333;
  border:1px solid #666;
  z-index:1;
}
.check {
  position:absolute;
  right:0px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  background:transparent;
  width:0px;
  bottom:-3px;
  border-left:10px solid transparent;
  border-bottom:10px solid #333333;
  border-right:10px solid transparent;
  height:0px;
}
.range-picker div:hover {
  background:#eee;
  -webkit-transition:background .2s;
          transition:background .2s;
}
.range-picker div:first-child {
  border-left:1px solid #bbb;
}
.range-picker div.active:first-child {
  border-left:1px solid #333;
}

.product-item .h3 {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	color: #808080;
	font-family: inherit;
	/*font-style: italic;*/
	/*font-family: 'Playfair Display', serif*/
}

.product-item p {
	letter-spacing: 1px;
	font-size: 14px;
	color: #808080;
	line-height: 25px;
}

.product-item .description ul{
	margin: 0;
	padding: 0;
	margin-left: 15px;
}

.product-item .description ul li {
	font-size: 1.3rem;
	letter-spacing: 0.5px;
	/*color: #666;*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 2.5rem;
}

.product-item  ul > li:before {
		content: '- ';
}

.product-item form {
	margin-top: 20px;
}

.product-block {
	margin-top: 10px;
}

.selectize-control .selectize-input,
.selectize-control.single .selectize-input.input-active
 {
    background-color: transparent;
    /*border: 1px #827f7f solid;*/
    /*border-bottom: 2px #827f7f solid;*/
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 15px 10px;
    outline: 0;
    display: inline-block;
    font-size: 16px;
    color: #333
}

.selectize-control.single .selectize-input.input-active{
	border: 1px solid #202020;
}

.callback .selectize-control .selectize-input,
.callback .selectize-control .single .selectize-input .focus .input-active {
    color: #666;
    width: 100%;
    margin-top: 17px;
}


selectize-control .selectize-input {
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: inherit;
    line-height: inherit;
    text-align: left
}

.selectize-control .selectize-input input {
    font-size: inherit
}

.selectize-control .selectize-input.dropdown-active::before {
    background-color: transparent
}

.selectize-control.single .selectize-input::after,
.selectize-control.single.dropdown-active::after {
    border: none;
    content: '\f107';
    font-family: fontawesome;
    position: absolute;
    top: 15px;
    right: 25px
}

.selectize-control.single .selectize-input.dropdown-active::after,
.selectize-control.single.dropdown-active.dropdown-active::after {
    content: '\f106';
    /*color: #fff*/
}

.selectize-control.single .selectize-input.dropdown-active::after:active,
.selectize-control.single .selectize-input.dropdown-active::after:focus,
.selectize-control.single .selectize-input.dropdown-active::after:hover,
.selectize-control.single.dropdown-active.dropdown-active::after:active,
.selectize-control.single.dropdown-active.dropdown-active::after:focus,
.selectize-control.single.dropdown-active.dropdown-active::after:hover {
    color: #fff
}

.selectize-control.single .selectize-dropdown {
    font-size: 15px;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-align: left;
    border:1px solid #202020;
    border-top: 0px;
    padding-bottom: 20px;
}

.selectize-control.single .selectize-dropdown-content .option {
    padding: 10px 22px;
}

.selectize-control.single .selectize-dropdown-content .option.active {
    /*background-color: #fdeccb;*/
    background-color: #F5DAD6;
}



.product-item input::-webkit-input-placeholder, 
.product-item textarea::-webkit-input-placeholder, 
.product-item select::-webkit-input-placeholder{
	color: #ccc;
	opacity: 1;
}

.product-item input::-moz-input-placeholder, 
.product-item textarea::-moz-input-placeholder, 
.product-item select::-moz-input-placeholder{
	color: #ccc;
	opacity: 1;
}
.product-item input::-ms-input-placeholder, 
.product-item textarea::-ms-input-placeholder, 
.product-item select::-ms-input-placeholder{
	color: #ccc;
	opacity: 1;
} 


@media (max-width: 600px) {
	.product-item .purchase-info{
		display: block;
		text-align: center;
	}
	.product-item .button{
		margin-top: 30px;
	}

	.highlight-window {
		height: 400px;
		width: auto;
	}
}
